<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppFolder" value="\KML2SQL"/>
  </appSettings>
  <connectionStrings>
    <add name="TestDb" connectionString="Data Source=(LocalDB)\v11.0; Integrated Security=True; Initial Catalog=Test; MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>